h1{
    font-family: cursive;
}

.p1title {
    background-color: rgb(255, 102, 255);
    padding-bottom: 50px;
    margin-bottom: -20px;
}

.p1part1{
    background-color: rgb(231, 212, 196)
}

.p1adress{
    font-style: italic;
}

.p1copyright{
    background-color: rgb(239, 231, 228)
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Distributes the elements with space between them */
    align-items: start;
  }

.nav-container {
    display: flex;
}

nav {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

nav a {
    margin-right: 30px; /* Add some spacing between the links */
    line-height: 2;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

img.medium{
    background-color: white;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 170px;
    /* height: 115px; */
    float: right;
    z-index: 2;
    position: relative;
}

